[project]
name = "dragonscanner"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "httpx>=0.28.1",
    "rich>=14.2.0",
    "textual>=7.3.0",
]
